body {
  background: #000;
}

#clock {
  background: black;
  color: white;
  font-family: sans-serif;
  font-size: 7.125em;
  margin: auto;
  padding: 0.5em 0em;
  text-align: center;
  text-transform: uppercase;
	width: 80%;
}

#not-clock {
  background: orange;
  color: white;
  font-family: sans-serif;
  font-size: 3.125em;
  margin: auto;
  padding: 0.5em 0em;
  text-align: center;
  text-transform: uppercase;
  width: 80%;
}

#day {
  background: red;
  color: white;
  font-family: sans-serif;
  font-size: 7.125em;
  margin: auto;
  padding: 0.5em 0em;
  text-align: center;
  text-transform: uppercase;
	width: 80%;
}

#date {
  background: orchid;
  color: white;
  font-family: sans-serif;
  font-size: 7.125em;
  margin: auto;
  padding: 0.5em 0em;
  text-align: center;
  text-transform: uppercase;
	width: 80%;
}

@media (max-width:510px) {
  #clock {
    font-size:40px;
   
  }
  #not-clock {
    font-size:20px;
   
  }
  #day {
    font-size: 40px;
  }
  #date {
    font-size: 40px;
  }
  span {
    margin-left:10px;
  }
}

@media (min-width:1300px) {
  #clock {
    font-size:170px;
  }

  #day {
    font-size: 170px;
  }

  #date {
    font-size: 170px;
  }
}
